[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/denhog
[access "refs/for/refs/*"]
	read = group user/denhog
	push = group user/denhog
	label-Code-Review = -2..+2 group user/denhog
	label-Verified = -1..+1 group user/denhog
	rebase = group user/denhog
	removeReviewer = group user/denhog
	submit = group user/denhog
[access "refs/heads/*"]
	read = group user/denhog
	create = group user/denhog
	push = +force group user/denhog
	pushMerge = group user/denhog
[access "refs/tags/*"]
	push = +force group user/denhog
	pushTag = group user/denhog
	pushSignedTag = group user/denhog
